.generalbordertb{
    color: #808080;
    /*font-family: 'Oswald:700';*/
    font-family: 'archivo_narrowregular';  
    text-align: center;    
}

#banner1{
    height: 497px; width: 848px; background-image:url('Honest-Install-Epson-Top-Im.jpg');
}

#banner2{
    height: 609px; width: 848px; background-image:url('Honest-Install-Epson-8350-B.jpg');
}

#banner3{
    height: 375px; width: 848px; background-image:url('Honest-Install-Epson-3010-E.jpg');
}

#banner4{
    height: 672px; width: 848px; background-image:url('Honest-Install-Epson-5010-D.jpg');
}

#banner5{
    height: 319px; width: 848px; background-image:url('Epson-Projectors-other-proj.jpg');
}

.banner-title{
    font-size: 34px;
    font-weight: bold;
    padding-top: 40px;}

#banner1-right{
    font-size: 16px;
    padding-left: 490px; 
    padding-top: 165px;
}

#banner1-bottom{
    font-size: 15px;
    padding-top: 100px;    
}

#banner1-bottom-title{
    font-weight: bold;
    font-size: 34px;
}

#banner1-bottom-content{
    font-size: 18px;
    text-align: left;
    margin-top: 0;
    padding-left: 90px;
}

#banner1-right-title{
    font-size: 17px;
    font-weight: bold;
}

#banner2-content{
    padding-top: 130px;
    padding-left: 35px;
    text-align: left;
    font-size: 16px;
	line-height:25px;
}
#banner1-content{
    text-align: center;
    padding-top: 10px;
    padding-left: 509px;
    font-size: 18px;
	line-height:25px;
}
.bannerhead{
	color:#f8cd04;font-weight:bold;
    padding-top: 245px;
    padding-left: 505px;
    font-size: 18px;letter-spacing:-.5px}
#banner3-content{
    text-align: left;
    padding-top: 20px;
    padding-left: 400px;
    font-size: 16px;
	line-height:25px;
}

#banner3-content-subtitle{
    font-size: 17px;
    font-weight: bold;
}

#banner4-content{
    text-align: left;
    padding-top: 20px;
    padding-left: 35px;
    font-size: 16px;
	line-height:25px;
}

#banner5-content{
    text-align: center;
    padding-top: 50px;
    padding-left: 40px;
    font-size: 14px;
}

.orange{
    color: #f6cd03;
}

.contentheader{font-size:19px}